
@if (collection$ | async; as collection) {
     <div class="header">
        <div class="title">
            <h1>{{collection.title}}</h1>
        </div>
     </div>
     @for (category of collection.categories; track $index) {
        <!-- kategorie component? -->
        <div>
            {{category.label}}
        </div>
     }
    <app-carousel [collection]="collection"></app-carousel>
    <div class="info">
         <div class="profile">
            <h3>Creator</h3>
            <div class="name">
                <img src="../src/assets/react.svg" />
                <a [routerLink]="['/user', collection.user.userId]">{{collection.user.name}}</a>
            </div>
        </div>
        <div class="desc">
            {{collection.description}}
        </div>
       
    </div>
} @else {
    <p>Loading...</p>
}