
@if (collection(); as collection) {
     <div class="header">
        <div class="title">
            <h1>{{collection.title}}</h1>
            @if (loginInfo()) {
                <span (click)="handleBookmark()">
                    <lucide-icon [img]="lucideBookmark" [class.filled]="bookmark()"></lucide-icon>
                </span>
            }
        </div>
        @if (loginInfo(); as loginData) {
            @if (loginData.userId === collection.user.userId) {
                @if (collection.cards.length !== 0) {
                    <a [routerLink]="[`/collection/${collection.collectionId}/cards`]" class="allCards">
                    <p>Alle Karten ansehen</p>
                    <lucide-icon [img]="lucideLibraryBig"></lucide-icon>
                </a>
                } @else {
                    <p>Diese Sammlung hat noch keine Karten.</p>
                }
            }
        }
     </div>
     <div class="categories">
        @for (category of collection.categories; track $index) {
            <app-category-tag [category]="category"></app-category-tag>
        }
     </div>
     
    <app-carousel [collection]="collection"></app-carousel>
    <div class="info">
         <div class="profile">
            <h3>Ersteller</h3>
            <div class="name">
                <img src="profile_pic.svg" />
                <a [routerLink]="['/user', collection.user.userId]">{{collection.user.name}}</a>
            </div>
        </div>
        @if (collection.description) {
            <div class="desc">
                <p>{{collection.description}}</p>
            </div>
        } @else {
            <div class="desc">
                <p>Diese Sammlung hat keine Beschreibung.</p>
            </div>
        }
        
       
    </div>
}