
@if (collection(); as collection) {
     <div class="header">
        <div class="title">
            <h1>{{collection.title}}</h1>
            @if (loginInfo()) {
                <span (click)="handleBookmark()">
                    <lucide-icon [img]="lucideBookmark" [class.filled]="bookmark()"></lucide-icon>
                </span>
            }
        </div>
        @if (loginInfo(); as loginData) {
            @if (loginData.userId === collection.user.userId) {
                <a [routerLink]="[`/collection/${collection.collectionId}/cards`]" class="allCards">
                    <p>Alle Karten ansehen</p>
                    <lucide-icon [img]="lucideLibraryBig"></lucide-icon>
                </a>
            }
        }
     </div>
     <div class="categories">
        @for (category of collection.categories; track $index) {
            <app-category-tag [category]="category"></app-category-tag>
        }
     </div>
     
    <app-carousel [collection]="collection"></app-carousel>
    <div class="info">
         <div class="profile">
            <h3>Creator</h3>
            <div class="name">
                <img src="../src/assets/react.svg" />
                <a [routerLink]="['/user', collection.user.userId]">{{collection.user.name}}</a>
            </div>
        </div>
        <div class="desc">
            {{collection.description}}
        </div>
       
    </div>
} @else {
    <p>Loading...</p>
}