<div class="whole">
    <h2>Create a Collection</h2>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="inputGroup">
          <label htmlFor='title'>Titel</label>
          <input id='title' formControlName="title" placeholder='Titel eingeben...' class="inputLocal" />
           @if (title?.invalid && (title?.dirty || title?.touched)) {
                @if (title?.hasError('required')) {
                    <span class="errorMessage">Pflichtfeld</span>
                }
                    @if (title?.errors?.['maxlength']; as err) {
                      <span class="errorMessage">Maximal {{err.requiredLength}} Zeichen</span>
                }
            } 
        </div>
        <div class="inputGroup">
          <label htmlFor='desc'>Beschreibung</label>
          <textarea id='desc' formControlName="desc" class="textarea" placeholder="Beschreibung eingeben..."></textarea>
             @if (desc?.invalid && (desc?.dirty || desc?.touched)) {
                    @if (desc?.errors?.['maxlength']; as err) {
                    <span class="errorMessage">Maximal {{err.requiredLength}} Zeichen</span>
                }
            }

        </div>

        <div class="inputGroup">
          <label htmlFor='category'>Kategorien auswählen</label>
            <mat-form-field>
                <mat-label>Suche nach Kategorien...</mat-label>
                    <mtx-select
                          formControlName="categories"
                          searchable
                          [items]="categories"
                          bindLabel="label"
                          bindValue=""
                          [multiple]="true"
                          appendTo="app-create-collection"
                      ></mtx-select>
        </mat-form-field>
        </div>

        <div class="buttons">
          <button type='submit' class="submit">
            Erstellen
          </button>
          <button type='reset' class="cancel" (click)="onBack()">
            Abbrechen
          </button>
        </div>
      </form>
</div>
