<button (click)="showModal.set(true)" class="addCard">
  <lucide-icon [img]="lucidePlus"></lucide-icon>
</button>
@if (showModal()) {
  @if (selectedCard(); as selected) {
     <app-card-update-modal
      (closeModal)="showModal.set($event)" 
        (updateCard)="handleUpdateCard(selected.cardId, $event.front, $event.back, $event.notes)"
     ></app-card-update-modal>
  } @else {
    <app-card-modal 
      (closeModal)="showModal.set($event)" 
      (addCard)="handleAddCard($event.front, $event.back, $event.notes)">
    </app-card-modal>
  }
}

@if (collection(); as collection) {
  @if (collection.cards.length > 0) {
    @for (card of collection.cards; track card.cardId) {
      <div class="card">
        <app-card-small [card]="card"></app-card-small>
        <div class="below">
          <p class="notesArea">{{card.notes}}</p>
          <button (click)="onEdit(card)"> <lucide-icon [img]="lucideEdit"></lucide-icon></button>
        </div>
      </div>
    }
  } @else {
    <p>Noch keine Karten vorhanden! Um eine Karte zu erstellen, klicke auf das +</p>
  }
}