<header class="header">
            <nav class="nav">
                <a routerLink="/">
                    <p>Studylet</p>
                </a>
                <app-category-list></app-category-list>
                <app-search-bar/>
                <div class="links">
                    @if (loginInfo()) {
                         <a routerLink="/collection/create" class="create">
                       <lucide-icon [img]="plusIcon"/>
                        Erstellen
                    </a>
                    } @else {
                        <a routerLink="/sign-in" class="create">
                            <lucide-icon [img]="plusIcon"/>
                            Erstellen
                        </a>
                    }
                    @if (loginInfo(); as loginData) {
                        <a [routerLink]="['/user', loginData.userId]"><p>Mein Konto</p></a>
                    }
                   
                    @if (loginInfo()) {
                        <p (click)="signOut()">Abmelden</p>
                    } @else {
                        <a routerLink="/sign-up"><p>Registrieren</p></a>
                    }

                    
                </div>
            </nav>
        </header>