<div class="auth">
    <form [formGroup]="authForm" (ngSubmit)="onSubmit()">
        <h2>
            Sign Up
        </h2>
        <div>
            <div class="inputGroup">
                <label htmlFor='username'>User name</label>
                <!-- formControlName binds each individual input to the formcontrol -->
                <input placeholder='user name' id='username' formControlName="userName" />
                    @if (userName?.invalid && (userName?.dirty || userName?.touched)) {
                        @if (userName?.hasError('required')) {
                            <span class="errorMessage">This field is required</span>
                        }
                        @if (userName?.errors?.['maxlength']; as err) {
                            <span class="errorMessage">Maximum of {{err.requiredLength}} characters</span>
                        }
                    }
            </div>

            <div class="inputGroup">
                <label htmlFor='email'>E-Mail</label>
                <input placeholder='E-mail' id='email' formControlName="email" />
                    @if (email?.invalid && (email?.dirty || email?.touched)) {
                        @if (email?.hasError('required')) {
                            <span class="errorMessage">This field is required</span>
                        }
                        @if (email?.errors?.['email']; as err) {
                            <span class="errorMessage">Must be a valid E-Mail</span>
                        }
                    }            
            </div>


            <div class="inputGroup">
                <label htmlFor='password'>Password</label>
                <input placeholder='password' formControlName="password" type="password"/>
                    @if (password?.invalid && (password?.dirty || password?.touched)) {
                        @if (password?.hasError('required')) {
                            <span class="errorMessage">This field is required</span>
                        }
                         @if (password?.errors?.['maxlength']; as err) {
                            <span class="errorMessage">Maximum of {{err.requiredLength}} characters</span>
                        }
                    } 
            </div>
        </div>
        <p>Already have an account?<a [routerLink]="['/sign-in']">Sign In</a></p> 
        <!-- {type === "sign-in"
                    ? <p>No account yet? <Link to="/sign-up?redirect=home">Sign Up</Link></p>
                    : <p>Already have an account? <Link to="/sign-in?redirect=home">Sign In</Link></p>
                } -->


        <button type='submit'>Submit</button>
    </form>
</div>