<div class="auth">
    <form [formGroup]="authForm" (ngSubmit)="onSubmit()">
        <h2>
           Registrieren
        </h2>
        <div>
            <div class="inputGroup">
                <label htmlFor='username'>User Name</label>
                <!-- formControlName binds each individual input to the formcontrol -->
                <input placeholder='User Name eingeben...' id='username' formControlName="userName" />
                    @if (userName?.invalid && (userName?.dirty || userName?.touched)) {
                        @if (userName?.hasError('required')) {
                            <span class="errorMessage">Pflichtfeld</span>
                        }
                        @if (userName?.errors?.['maxlength']; as err) {
                            <span class="errorMessage">Maximal {{err.requiredLength}} Zeichen</span>
                        }
                    }
            </div>

            <div class="inputGroup">
                <label htmlFor='email'>E-Mail</label>
                <input placeholder='E-Mail eingeben...' id='email' formControlName="email" />
                    @if (email?.invalid && (email?.dirty || email?.touched)) {
                        @if (email?.hasError('required')) {
                            <span class="errorMessage">Pflichtfeld</span>
                        }
                        @if (email?.errors?.['email']; as err) {
                            <span class="errorMessage">Eingabe muss eine gültige E-Mail sein</span>
                        }
                    }            
            </div>


            <div class="inputGroup">
                <label htmlFor='password'>Passwort</label>
                <input placeholder='Passwort eingeben...' formControlName="password" type="password"/>
                    @if (password?.invalid && (password?.dirty || password?.touched)) {
                        @if (password?.hasError('required')) {
                            <span class="errorMessage">TPflichtfeld</span>
                        }
                         @if (password?.errors?.['maxlength']; as err) {
                            <span class="errorMessage">Maximal {{err.requiredLength}} Zeichen</span>
                        }
                    } 
            </div>
        </div>
        <p>Du hast schon ein Konto? <a [routerLink]="['/sign-in']">Hier anmelden</a></p>
        <button type='submit'>Registrieren</button>
    </form>
</div>