<div class="auth">
    <form [formGroup]="authForm" (ngSubmit)="onSubmit()">
        <h2>
            Anmelden
        </h2>
        <div>
           <div class="inputGroup">
                <label htmlFor='email'>E-Mail</label>
                <input placeholder='E-Mail eingeben...' id='email' formControlName="email" />
                    @if (email?.invalid && (email?.dirty || email?.touched)) {
                        @if (email?.hasError('required')) {
                            <span class="errorMessage">Pflichtfeld</span>
                        }
                        @if (email?.errors?.['email']; as err) {
                            <span class="errorMessage">Eingabe muss eine gültige E-Mail sein</span>
                        }
                    }            
            </div>


            <div class="inputGroup">
                <label htmlFor='password'>Passwort</label>
                <input placeholder='Passwort eingeben...' formControlName="password" type="password"/>
                    @if (password?.invalid && (password?.dirty || password?.touched)) {
                        @if (password?.hasError('required')) {
                            <span class="errorMessage">TPflichtfeld</span>
                        }
                         @if (password?.errors?.['maxlength']; as err) {
                            <span class="errorMessage">Maximal {{err.requiredLength}} Zeichen</span>
                        }
                    } 
            </div>
        </div>
        <p>Noch kein Konto? <a [routerLink]="['/sign-up']">Hier registrieren</a></p> 
        <button type='submit'>Submit</button>
    </form>
</div>