<div>
    <div class="back"></div>
    <div class="addCard">
        <div class="header">
            <h3>Karte Hinzufügen</h3>
            <button (click)="onCloseModal()">
                <lucide-icon [img]="lucideX"></lucide-icon>
            </button>

        </div>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="actions">
                <div class="inputGroup">
                    <label>Vorderseite</label>
                    <input type="text" formControlName="front" placeholder="Inhalt eingeben..."/>
                    @if (front?.invalid && (front?.dirty || front?.touched)) {
                        @if (front?.hasError('required')) {
                            <span class="errorMessage">Pflichtfeld</span>
                        }
                    }     
                </div>

                <div class="inputGroup">
                    <label>Rückseite</label>
                    <input type="text" formControlName="back" placeholder="Inhalt eingeben..."/>
                    @if (back?.invalid && (back?.dirty || back?.touched)) {
                        @if (back?.hasError('required')) {
                            <span class="errorMessage">Pflichtfeld</span>
                        }
                    }  
                </div>

                <div>
                    <label>Notizen</label>
                    <textarea class="textarea" formControlName="notes" placeholder="Notizen eingeben..."></textarea>
                    @if (notes?.invalid && (notes?.dirty || notes?.touched)) {
                        @if (notes?.hasError('required')) {
                            <span class="errorMessage">Pflichtfeld</span>
                        }
                    }  
                </div>
            </div>
            <div>
                <button type="submit">

                    <span>Hinzufügen</span>
                </button>
                <button type="button" (click)="onCloseModal()">
                    Abbrechen
                </button>
            </div>
        </form>
    </div>

</div>