<div>
    <div class="cardsList">
         @if (showModal() && selectedCard(); as card) {
            <app-card-modal (closeModal)="setShowModal($event)" 
            (addCard)="handleUpdateCard(card.id, $event.front, $event.back, $event.notes)"></app-card-modal>
            }
        @for (card of collection.cards; track $index) {

        <div>
           
            <!-- {showModal && <CardModal update onModalClose={() => setShowModal(false)} onAddCard={(front, back, notes) => handleUpdateCard(card.id, front, back, notes)} />} -->
            <div class="card">
                <app-card-small [card]="card"></app-card-small>
                <button (click)="onEdit(true, card)">Edit Card</button>
                <!-- <CardSmall card={card} /> -->
                <!-- <button onClick={() => setShowModal(true)}>Edit Card</button> -->
            </div>
        </div>
        }


    </div>
</div>