<div>
    <div class="back"></div>
    <div class="addCard">
        <div class="header">
            <h3>Karte Aktualisieren</h3>
            <button (click)="onCloseModal()">
                <lucide-icon [img]="lucideX"></lucide-icon>
            </button>

        </div>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="actions">
                <div class="inputGroup">
                    <label>Vorderseite</label>
                    <input type="text" formControlName="front" placeholder="Inhalt eingeben..."/>
                </div>

                <div class="inputGroup">
                    <label>Rückseite</label>
                    <input type="text" formControlName="back" placeholder="Inhalt eingeben..."/>
                </div>

                <div>
                    <label>Notizen</label>
                    <textarea class="textarea" formControlName="notes" placeholder="Notizen eingeben..."></textarea>
                </div>
            </div>
            <div>
                <button type="submit">
                    <span>Aktualisieren</span>
                </button>
                <button type="button" (click)="onCloseModal()">
                    Abbrechen
                </button>
            </div>
        </form>
    </div>

</div>